{% extends "default.html" %} {% block content %}

<!-- ////////////////////////// -->
<!-- MAIN CONTENT STARTS HERE -->
<!-- ////////////////////////// -->

<div class="grid grid-2b grid-2c grid-2d grid-2e">
    <div class="item header">1. Header</div>
    <div class="item-wrapper">
        <div class="item-wrapper-inner left">
            <div class="item hero">2. Hero</div>
            <div class="item sidebar">3. Sidebar
                <p class="notes">If we change the order, we can wrap the whole thing in a display: table and use table-cell wrappers to separate
                    the left and right sides but keep them the same height.
                    <br>
                    <br>I used the background color of the bottom item as the background color for the left and right sides so
                    they'll still line up if one side grows or shrinks.
                    <br>
                    <br> The items inside are also set to display: table, but could also be display: block.
                </p>
            </div>
        </div>
        <div class="item-wrapper-inner right">
            <div class="item main">4. Main content
                <p style="font-size: 15px;color: #222;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis, urna ac ultricies rhoncus, tellus
                    purus vulputate felis, in facilisis tortor dolor et sem. Nam luctus consectetur iaculis.</p>
                <p style="font-size: 15px;color: #222;">Phasellus eget mi non velit vehicula imperdiet vitae sed nisi.</p>
                <p style="font-size: 15px;color: #222;">Aliquam finibus nunc sed nunc auctor dignissim. Praesent pellentesque molestie consequat. Curabitur tempor
                    quis eros et fringilla. Vestibulum vel aliquam lacus. Duis a viverra sem, at porta est. Etiam tempor
                    sodales ipsum ac pulvinar.</p>
                <p style="font-size: 15px;color: #222;">Fusce tempus felis dui, quis venenatis leo efficitur nec. Pellentesque condimentum porttitor elit. Pellentesque
                    in ante iaculis, consequat neque nec, ultricies ipsum. Nam tempor tincidunt leo, nec maximus nibh dictum
                    nec. Suspendisse placerat laoreet justo, ut maximus leo condimentum efficitur. Curabitur non fermentum
                    ante, ut rhoncus lacus.</p>
                <p style="font-size: 15px;color: #222;">Aenean sed odio a tortor tincidunt laoreet ac in nunc. Vestibulum ante ipsum primis in faucibus orci luctus
                    et ultrices posuere cubilia Curae;</p>
            </div>
            <div class="item extra">5. Extra Content</div>
        </div>



    </div>
    <div class="item-wrapper">
        <div class="item images">6. Related Images</div>
        <div class="item posts">7. Related Posts
            <p style="font-size: 15px;color: #222;">Fusce tempus felis dui, quis venenatis leo efficitur nec. Pellentesque condimentum porttitor elit. Pellentesque
                in ante iaculis, consequat neque nec, ultricies ipsum. Nam tempor tincidunt leo, nec maximus nibh dictum
                nec. Suspendisse placerat laoreet justo, ut maximus leo condimentum efficitur. Curabitur non fermentum ante,
                ut rhoncus lacus. Aenean sed odio a tortor tincidunt laoreet ac in nunc. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
    </div>
    <div class="item footer">8. Footer</div>
</div>


<!-- ////////////////////////// -->
<!-- MAIN CONTENT ENDS HERE -->
<!-- ////////////////////////// -->


{% endblock %}