{% extends "default.html" %} {% block content %}

<!-- ////////////////////////// -->
<!-- MAIN CONTENT STARTS HERE -->
<!-- ////////////////////////// -->

<div class="grid">
    <div class="item header">
        <h1>Header</h1>
    </div>
    <div class="item hero">
        <h1>Hero</h1>
    </div>
    <div class="item main">
        <h1>Main content</h1>
    </div>
    <div class="item sidebar">
        <h1>Sidebar</h1>
    </div>
    <div class="item extra">
        <h1>Extra Content</h1>
    </div>
    <div class="item images">
        <h1>Related Images</h1>
    </div>
    <div class="item posts">
        <h1>Related Posts</h1>
    </div>
    <div class="item footer">
        <h1>Footer</h1>
    </div>
</div>

<!-- ////////////////////////// -->
<!-- MAIN CONTENT ENDS HERE -->
<!-- ////////////////////////// -->


{% endblock %}