{% extends "default.html" %} {% block content %}

<!-- ////////////////////////// -->
<!-- MAIN CONTENT STARTS HERE -->
<!-- ////////////////////////// -->

<div class="grid grid-2b grid-2c grid-2d">
    <div class="item header">1. Header</div>
    <div class="item-wrapper">
        <div class="item hero">2. Hero
            <p class="notes">Adding a table wrapper to this section won't really help unless we can change the order so 2 & 4 can be in one
                table-cell and 3 & 5 can be in another.</p>
        </div>
        <div class="item main">3. Main content
            <p style="font-size: 15px;color: #222;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis, urna ac ultricies rhoncus, tellus purus
                vulputate felis, in facilisis tortor dolor et sem. Nam luctus consectetur iaculis.</p>
            <p style="font-size: 15px;color: #222;">Phasellus eget mi non velit vehicula imperdiet vitae sed nisi.</p>
            <p style="font-size: 15px;color: #222;">Aliquam finibus nunc sed nunc auctor dignissim. Praesent pellentesque molestie consequat. Curabitur tempor quis
                eros et fringilla. Vestibulum vel aliquam lacus. Duis a viverra sem, at porta est. Etiam tempor sodales ipsum
                ac pulvinar.</p>
            <p style="font-size: 15px;color: #222;">Fusce tempus felis dui, quis venenatis leo efficitur nec. Pellentesque condimentum porttitor elit. Pellentesque
                in ante iaculis, consequat neque nec, ultricies ipsum. Nam tempor tincidunt leo, nec maximus nibh dictum
                nec. Suspendisse placerat laoreet justo, ut maximus leo condimentum efficitur. Curabitur non fermentum ante,
                ut rhoncus lacus.</p>
            <p style="font-size: 15px;color: #222;">Aenean sed odio a tortor tincidunt laoreet ac in nunc. Vestibulum ante ipsum primis in faucibus orci luctus et
                ultrices posuere cubilia Curae;</p>
        </div>
        <div class="item sidebar">4. Sidebar</div>
        <div class="item extra">5. Extra Content</div>
    </div>
    <div class="item-wrapper">
        <div class="item images">6. Related Images</div>
        <div class="item posts">7. Related Posts
            <p style="font-size: 15px;color: #222;">Fusce tempus felis dui, quis venenatis leo efficitur nec. Pellentesque condimentum porttitor elit. Pellentesque
                in ante iaculis, consequat neque nec, ultricies ipsum. Nam tempor tincidunt leo, nec maximus nibh dictum
                nec. Suspendisse placerat laoreet justo, ut maximus leo condimentum efficitur. Curabitur non fermentum ante,
                ut rhoncus lacus. Aenean sed odio a tortor tincidunt laoreet ac in nunc. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
    </div>
    <div class="item footer">8. Footer</div>
</div>


<!-- ////////////////////////// -->
<!-- MAIN CONTENT ENDS HERE -->
<!-- ////////////////////////// -->


{% endblock %}