{% extends "default.html" %} {% block content %}

<!-- ////////////////////////// -->
<!-- MAIN CONTENT STARTS HERE -->
<!-- ////////////////////////// -->
<section class="body">

    <div class="rotator">
        <ul class="slides">
            <li class="slide">
                <img src="img/0140_foodsense.jpg" alt="" class="slide-hero">
                <a href="" class="slide-link">
                    <h2 class="slide-title">What's Cooking?</h2>
                    <p class="slide-desc">Browse our gallery for dependably delicious recipes.</p>
                </a>
                <div class="slide-credit">
                    photo by
                    <a href="" class="slide-credit-link">Clare Barboza</a>
                </div>
            </li>
            <!-- <li class="slide">
                <img src="img/0219_foodsense.jpg" alt="" class="slide-hero">
                <a href="" class="slide-link">
                    <h2 class="slide-title">Read, Learn, Share</h2>
                    <p class="slide-desc">Get daily how-tos, stories & updates with the latest news.</p>
                </a>
                <div class="slide-credit">
                    photo by
                    <a href="" class="slide-credit-link">Clare Barboza</a>
                </div>
            </li>
            <li class="slide">
                <img src="img/0052_foodsense.jpg" alt="" class="slide-hero">
                <a href="" class="slide-link">
                    <h2 class="slide-title">Shop for the Best</h2>
                    <p class="slide-desc">With our carefully curated vendor list, you'll know what to buy.</p>
                </a>
                <div class="slide-credit">
                    photo by
                    <a href="" class="slide-credit-link">Clare Barboza</a>
                </div>
            </li>
            <li class="slide">
                <img src="img/0232_foodsense.jpg" alt="" class="slide-hero">
                <a href="" class="slide-link">
                    <h2 class="slide-title">Share your Food Sense</h2>
                    <p class="slide-desc">Submit your favorite recipes, become a contributor, or get interviewed.</p>
                </a>
                <div class="slide-credit">
                    photo by
                    <a href="" class="slide-credit-link">Clare Barboza</a>
                </div>
            </li> -->
        </ul>

        <ul class="rotator-nav">
            <li class="rotator-nav-item">
                <a href="#" class="rotator-nav-link">Tastemakers</a>
            </li>
            <li class="rotator-nav-item">
                <a href="#" class="rotator-nav-link">Blog</a>
            </li>
            <li class="rotator-nav-item">
                <a href="#" class="rotator-nav-link">The A-List</a>
            </li>
            <li class="rotator-nav-item">
                <a href="#" class="rotator-nav-link">Contribute</a>
            </li>
        </ul>
    </div>

    <div class="newsletter">
        <p class="signup">Sign up for our newsletter to receive a handpicked selection of the best stories, recipes, and news, delivered weekly
            to your inbox.</p>
        <input type="text" placeholder="Email" class="input-email">
        <button class="btn-signup">Subscribe</button>
    </div>

    <div class="features">
        <div class="feature">
            <a href="" class="feature-link">
                <div class="feature-img-frame">
                    <img src="img/cookbooks_blog.jpg" alt="" class="feature-img">
                </div>
                <h3 class="feature-title">2012’s Best Summer Cookbooks</h3>
            </a>
            <p class="feature-snippet">With the best of the season coming from “orchards, farms and gardens,” NPR has put together an impressive collection
                of 10 summer cookbooks.</p>
            <span class="feature-date">May 23, 2012</span>
            <a href="" class="feature-more-link">Read »</a>
        </div>
        <div class="feature">
            <a href="" class="feature-link">
                <div class="feature-img-frame">
                    <img src="img/SweetPotatoChips.jpg" alt="" class="feature-img">
                </div>
                <h3 class="feature-title">How to Make Vegetable Chips</h3>
            </a>
            <p class="feature-snippet">About a month ago, I ate almost an entire box of kale chips. My brother and I were visiting our cousin in Brooklyn,
                and before a very thoughtfully prepared vegan…</p>
            <span class="feature-date">May 17, 2012</span>
            <a href="" class="feature-more-link">Read »</a>
        </div>
        <div class="feature">
            <a href="" class="feature-link">
                <div class="feature-img-frame">
                    <img src="img/Pinterest_Page_featured.png" alt="" class="feature-img">
                </div>
                <h3 class="feature-title">Join us on Pinterest!</h3>
            </a>
            <p class="feature-snippet">About a month ago, I ate almost an entire box of kale chips. My brother and I were visiting our cousin in Brooklyn,
                and before a very thoughtfully prepared vegan…</p>
            <span class="feature-date">May 16, 2012</span>
            <a href="" class="feature-more-link">Read »</a>
        </div>
        <div class="feature">
            <a href="" class="feature-link">
                <div class="feature-img-frame">
                    <img src="img/Adithi_Dinner_blog.jpg" alt="" class="feature-img">
                </div>
                <h3 class="feature-title">Recipes from a Sunday Supper</h3>
            </a>
            <p class="feature-snippet">I could not figure out what to do with the delectable slices of Pear Cake that I brought home from this wonderful
                Sunday supper - eat them slowly, a little bit at…</p>
            <span class="feature-date">May 15, 2012</span>
            <a href="" class="feature-more-link">Read »</a>
        </div>
    </div>







</section>
<!-- ////////////////////////// -->
<!-- MAIN CONTENT ENDS HERE -->
<!-- ////////////////////////// -->


{% endblock %}