<!-- /////////////////////////////////// -->
<!-- HEADER -->
<!-- /////////////////////////////////// -->
<div class="header">

  <a href="/">
    <h1 class="site-logo">
      Food Sense
    </h1>
  </a>

  <ul class="nav">
    <li class="nav-item">
      <a href="http://foodsense.is/tastemakers" class="nav-link nav-tastemakers">Tastemakers</a>
    </li>
    <li class="nav-item">
      <a href="http://foodsense.is/blog" class="nav-link nav-blog">Blog</a>
    </li>
    <li class="nav-item">
      <a href="http://foodsense.is/a-list" class="nav-link nav-alist">The A-List</a>
    </li>
    <li class="nav-item">
      <a href="http://foodsense.is/contribute" class="nav-link nav-contribute">Contribute</a>
    </li>
    <li class="nav-item">
      <a href="http://foodsense.is/about" class="nav-link nav-about">About</a>
    </li>
  </ul>

  <div class="promos">

    <div class="promo-item">
      <h3 class="promo-title">Latest Tweet</h3>
      <button class="btn btn-twitter">Join the Conversation</button>
    </div>

    <div class="promo-item">
      <h3 class="promo-title">Let's Be Friends!</h3>
      <p class="promo-description">For weekly finds, community recommendations, and more, like us on Facebook.</p>
      <button class="btn btn-facebook">Join the Community</button>
    </div>

  </div>

</div>