/* *********************** */
/* ***** SECTION COLORS *****
/* *********************** */

$extra: #666666;
$sidebar: #82b12e;
$main: #f2b601;
$hero: #cebada;
$header: #00c9e6;
$footer: #fd8901;
$images: #06a147;
$posts: #f0bfd5;
