/* *********************** */
/* ***** SECTION COLORS *****
/* *********************** */

$extra: #666666;
$sidebar: #82b12d;
$main: #f2b600;
$hero: #cdbada;
$header: #00c9e5;
$footer: #fe8800;
$images: #009e45;
$posts: #f1bad4;

/* **************************** */
/* ***** MAIN COLOR MIXES *****
/* **************************** */

$londonLight: mix(white, $london, 30%);
$londonDark: mix(black, $rome, 30%);
$sydneyLight: mix(white, $sydney, 30%);
$sydneyDark: mix(black, $sydney, 30%);
$parisLight: mix(white, $paris, 30%);
$parisDark: mix(black, $paris, 30%);
$romeLight: mix(white, $rome, 30%);
$romeDark: mix(black, $rome, 30%);
$dublinLight: mix(white, $dublin, 30%);
$dublinDark: mix(black, $dublin, 30%);
$sydneyLight: mix(white, $sydney, 30%);
$sydneyDark: mix(black, $sydney, 30%);

/* ***************************** */
/* ***** TEXT *****
/* ***************************** */

$text: $london;
$textBold: $londonDark;
