{% extends "default.html" %} {% block content %}

<!-- ////////////////////////// -->
<!-- MAIN CONTENT STARTS HERE -->
<!-- ////////////////////////// -->

<div class="grid">
    <div class="item header">Header
    </div>
    <div class="item hero">Hero
        <p class="notes">Floated left
            <br>width (as %) and min-height in px applied</p>
    </div>
    <div class="item main">Main content
        <p class="notes">Floated right
            <br>width (as %) and min-height in px applied</p>
    </div>
    <div class="item sidebar">Sidebar
        <p class="notes">Floated left
            <br>width (as %) and min-height in px applied</p>
    </div>
    <div class="item extra">Extra Content
        <p class="notes">Floated right
            <br>width (as %) and min-height in px applied</p>
    </div>
    <div class="item images">Related Images
        <p class="notes">Floated left
            <br>width (as %) and min-height in px applied</p>
    </div>
    <div class="item posts">Related Posts
        <p class="notes">Floated right
            <br>width (as %) and min-height in px applied</p>
    </div>
    <div class="item footer">Footer
    </div>
</div>

<!-- ////////////////////////// -->
<!-- MAIN CONTENT ENDS HERE -->
<!-- ////////////////////////// -->


{% endblock %}