{% extends "default.html" %} {% block content %}

<!-- ////////////////////////// -->
<!-- MAIN CONTENT STARTS HERE -->
<!-- ////////////////////////// -->

<div class="grid">
    <div class="item header">Header</div>
    <div class="item hero">Hero</div>
    <div class="item main">Main content
        <p style="font-size: 15px;color: #222;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis, urna ac ultricies rhoncus, tellus purus
            vulputate felis, in facilisis tortor dolor et sem. Nam luctus consectetur iaculis.</p>
        <p style="font-size: 15px;color: #222;">Phasellus eget mi non velit vehicula imperdiet vitae sed nisi.</p>
        <p style="font-size: 15px;color: #222;">Aliquam finibus nunc sed nunc auctor dignissim. Praesent pellentesque molestie consequat. Curabitur tempor quis eros
            et fringilla. Vestibulum vel aliquam lacus. Duis a viverra sem, at porta est. Etiam tempor sodales ipsum ac pulvinar.</p>
        <p style="font-size: 15px;color: #222;">Fusce tempus felis dui, quis venenatis leo efficitur nec. Pellentesque condimentum porttitor elit. Pellentesque in
            ante iaculis, consequat neque nec, ultricies ipsum. Nam tempor tincidunt leo, nec maximus nibh dictum nec. Suspendisse
            placerat laoreet justo, ut maximus leo condimentum efficitur. Curabitur non fermentum ante, ut rhoncus lacus.</p>
        <p style="font-size: 15px;color: #222;">Aenean sed odio a tortor tincidunt laoreet ac in nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae;</p>
    </div>
    <div class="item sidebar">Sidebar</div>
    <div class="item extra">Extra Content</div>
    <div class="item images">Related Images</div>
    <div class="item posts">Related Posts
        <p style="font-size: 15px;color: #222;">Fusce tempus felis dui, quis venenatis leo efficitur nec. Pellentesque condimentum porttitor elit. Pellentesque in
            ante iaculis, consequat neque nec, ultricies ipsum. Nam tempor tincidunt leo, nec maximus nibh dictum nec. Suspendisse
            placerat laoreet justo, ut maximus leo condimentum efficitur. Curabitur non fermentum ante, ut rhoncus lacus.
            Aenean sed odio a tortor tincidunt laoreet ac in nunc. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices posuere cubilia Curae;</p>
    </div>
    <div class="item footer">Footer</div>
</div>


<!-- ////////////////////////// -->
<!-- MAIN CONTENT ENDS HERE -->
<!-- ////////////////////////// -->


{% endblock %}