{% extends "default.html" %} {% block content %}

<!-- ////////////////////////// -->
<!-- MAIN CONTENT STARTS HERE -->
<!-- ////////////////////////// -->

<div class="grid">
    <div class="item header">Header</div>
    <div class="item hero">Hero</div>
    <div class="item main">Main content</div>
    <div class="item sidebar">Sidebar</div>
    <div class="item extra">Extra Content</div>
    <div class="item images">Related Images</div>
    <div class="item posts">Related Posts</div>
    <div class="item footer">Footer</div>
</div>

<!-- ////////////////////////// -->
<!-- MAIN CONTENT ENDS HERE -->
<!-- ////////////////////////// -->


{% endblock %}